body{
	
	margin:0;
	background:url("austria.jpg");
	background-size:cover;

}

.nav{
	color:white;

	padding-left:60px;
	font-size:35px;
	background:rgba(102, 153, 0, 0.28);
	width:470px;
	height:745px;
	margin:auto;
	border-radius:10px;
	opacity:8;

	
}

.top{
	padding-top:320px;
	
}

.nav input{
	margin-top:30px;
	width:200px;
	height:40px;
	font-size:25px;
	border-radius:5px;
}

.nav input[name="sex"]{
	margin-top:5px;
	width:25px;
}

.nav input[name="mail"]{
	
	width:400px;
}


.nav input[type="checkbox"]{
	padding-top:5px;
	width:25px;
}


.nav input[type="submit"]{
	margin-top:10px;
	width:150px;
	border-radius:50px;
	margin-left:280px;
	height:50px;
	background:blue;
	color:white;
	font-weight:bold;
}

.nav input[type="submit"]:hover{
	
	background:white;
	color:blue;
	
}



.menu{
	width:100%;
	background:hsla(66, 70%, 54%, 0.45);
	height:69px;
	overflow:auto;
}
.menu ul{
	 list-style-type:none;
	 margin:0;
	 padding:0;
	 position:absolute;
 }
 
.menu ul li{
	 float:left;
	 margin-top:20px;
	

	 
 }
 
.menu ul li a{
	 width:150px;
	 color:white;
	 display:block;
	 text-decoration:none;
	 font-size:20px;
	 text-align:center;
	 padding:10px;
	 border-radius:10px;
	 font-family:century  Gothic;
	 font-weight:bold;
	 
 }

.menu li a:hover{
	 background:#669900;
	 border-radius: 0 10px 0 0;
	 transition:0.9s;
 }

.menu ul li ul{
	 background:#000033;
	 
 }
 
.menu ul li ul li{
	 float:none;
 }
 
.menu ul li ul{
	 display:none;
 }
 
.menu ul li:hover ul{
	 display:block;
	 opacity:0.4;
	filter:alpha(opacity=10);
 }
 
 .Main-body h1{
	color:rgb(255, 214, 9);
	font-size:110px;
	font-weight:bold;
	margin-top:0;
	margin-bottom:150px;
	text-align:center;
	box-sizing: border-box;
	text-shadow: rgb(0, 0, 0,);
	margin-top:200px;
	
}



.icon{
	
	width:10px;
	background:rgb(2, 212, 0);
	font-size:10px;

	
}

@media screen and (max-width:600px){
	.bar-menu{
		display:block;
		
	}
	.icon{
		display:block;
	}
	.bar-menu  ul li{
		display:block;
		float:none;
	}
	.bar-menu a{
		text-align:left;
	}
	
	.bar-menu:hover{
		display:block;
	}
	
	
}

@media screen and (min-width:601px){
	..nav ul li .icon{
		display:none;
	}
}




